#
# Hey! Everything in here is better suited to httpd.conf, since
# we get a performance boost if we can turn off AllowOverride and
# not have to stat the webroot for every request. On the other
# hand, this means we never have to touch apache once it's up.
# Flexibility over performance.
#
# In an ideal world, you'd stick it in here on dev and your build
# system would bundle the changes into (a file included in) httpd.conf
# for your production deployment, perhaps wrapped in a <VirtualHost>
# block.
#

# ETags are a bad idea if you have multiple web servers. We'll do
# more explicit caching with Expires headers anyway.
FileETag none

# php_value settings moved to .user.ini

# Some basic pointers to php files
DirectoryIndex index.php
ErrorDocument 404 /404.php
ErrorDocument 403 /403.php
ErrorDocument 500 /500.php

# Get mod_rewrite fired up
RewriteEngine on

# The following are provided as reference rules if you want
# run www.HOST and api.HOST off the same codebase. Adjust to taste.
#
# If /rest and not API host then issue HTTP 410
# RewriteCond %{HTTP_HOST} !^(dev)?api\.example\.com$ [NC]
# RewriteCond %{REQUEST_URI} ^/rest
# RewriteRule ^ - [R=404,L]
# 
# If /api_rest.php and not API host then issue HTTP 410
# RewriteCond %{HTTP_HOST} !^(dev)?api\.example\.com$ [NC]
# RewriteCond %{REQUEST_URI} ^/api_rest.php
# RewriteRule ^ - [R=404,L]
# 
# If API host and not /rest then issue HTTP 410
# RewriteCond %{HTTP_HOST} ^(dev)?api\.example\.com$ [NC]
# RewriteRule ^/rest - [L]

# Basics

RewriteRule  ^about/?$			about.php 		[L,QSA]
RewriteRule  ^account/?$		account.php		[L]
RewriteRule  ^account/password/?$	account_password.php	[L]
RewriteRule  ^account/delete/?$		account_delete.php	[L]

RewriteRule  ^contact/?$		contact.php 		[L,QSA]
RewriteRule  ^checkcookie/?$		checkcookie.php	[L]

RewriteRule  ^forgot/?$			forgot.php		[L]
RewriteRule  ^reset/([a-zA-Z0-9]+)/?$	reset.php?reset=$1	[L,QSA]

RewriteRule  ^signup/?$			signup.php		[L]
RewriteRule  ^signin/?$			signin.php		[L]
RewriteRule  ^signout/?$		signout.php		[L]

# API

RewriteRule  ^api/?$				api.php		[L]
RewriteRule  ^api/methods/?$			api_methods.php	[L]
RewriteRule  ^api/methods/print/?$		api_methods.php?print=2	[L]
RewriteRule  ^api/methods/explore/?$		api_methods.php	[L]
RewriteRule  ^api/methods/(.*)/explore/?$	api_method_explore.php?method=$1&%{QUERY_STRING}	[L]
RewriteRule  ^api/methods/(.*)/?$		api_method.php?method=$1&%{QUERY_STRING}		[L]

RewriteRule  ^api/errors/?$			api_errors.php	[L]
RewriteRule  ^api/pagination/?$			api_pagination.php	[L]

RewriteRule  ^api/formats/?$			api_formats.php	[L]
RewriteRule  ^api/formats/(.*)/?$		api_format.php?format=$1	[L]

RewriteRule  ^api/applications/?$							/api/oauth2/applications/?%{QUERY_STRING} [R]
RewriteRule  ^api/applications/register/?$						/api/oauth2/applications/register/?%{QUERY_STRING} [R]
RewriteRule  ^api/applications/([a-zA-Z0-9]+)/?$					/api/oauth2/applications/$1/?%{QUERY_STRING} [R]
RewriteRule  ^api/applications/([a-zA-Z0-9]+)/tokens/?$					/api/oauth2/applications/$1/tokens/?%{QUERY_STRING} [R]
RewriteRule  ^api/applications/([a-zA-Z0-9]+)/tokens/page([0-9]+)/?$			/api/oauth2/applications/$1/tokens/page$2/?%{QUERY_STRING} [R]

RewriteRule  ^api/oauth2/applications/?$						api_oauth2_applications.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/applications/register/?$					api_oauth2_application_register.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/applications/([a-zA-Z0-9]+)/?$					api_oauth2_application.php?api_key=$1&%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/applications/([a-zA-Z0-9]+)/tokens(/page([0-9]+))?/?$		api_oauth2_application_tokens.php?api_key=$1&page=$3&%{QUERY_STRING} [L]

RewriteRule  ^api/oauth2/?$							api_oauth2.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/howto/?$						api_oauth2_howto.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/authenticate/?$					api_oauth2_authenticate.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/authenticate/like-magic/?$				api_oauth2_authenticate_like_magic.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/access_token/?$					api_oauth2_access_token.php?%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/access_token/refresh/?$				api_oauth2_refresh_token.php?%{QUERY_STRING} [L]

RewriteRule  ^api/oauth2/tokens(/page([0-9]+))?/?$				api_oauth2_tokens.php?page=$2&%{QUERY_STRING} [L]
RewriteRule  ^api/oauth2/tokens/([a-zA-Z0-9]+)/?$				api_oauth2_token.php?api_key=$1&%{QUERY_STRING} [L]

RewriteRule  ^api/rest/?$							api_rest.php?%{QUERY_STRING}  [L]

# Health

RewriteRule  ^ping/?$								ping.php?%{QUERY_STRING}  [L]
RewriteRule  ^pong/?$								pong.php?%{QUERY_STRING}  [L]
