<?php

	$GLOBALS['cfg']['db_main']['pass'] = '';

        $GLOBALS['cfg']['db_api']['pass'] = $GLOBALS['cfg']['db_main']['pass'];
        $GLOBALS['cfg']['db_accounts']['pass'] = $GLOBALS['cfg']['db_main']['pass'];
        $GLOBALS['cfg']['db_users']['pass'] = $GLOBALS['cfg']['db_main']['pass'];
        $GLOBALS['cfg']['db_tickets']['pass'] = $GLOBALS['cfg']['db_main']['pass'];

	// if using lib_sodium these must be SODIUM_CRYPTO_SECRETBOX_KEYBYTES (32 bytes)

	$GLOBALS['cfg']['crypto_cookie_secret'] = '';
	$GLOBALS['cfg']['crypto_password_secret'] = '';
	$GLOBALS['cfg']['crypto_crumb_secret'] = '';

	// if using lib_sodium this must be SODIUM_CRYPTO_SECRETBOX_NONCEYTES (24 bytes)

	$GLOBALS['cfg']['crypto_libsodium_nonce'] = '';
