
body {
	text-align: center;
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family:sans-serif;
}

#main {
	margin: 0 auto;
	text-align: left;
	background-color: #fff;
	padding: 0;
}

#deferred {
    display:none;
    margin-top:10px;
}

#message {
	border-bottom: solid thin;
	margin-bottom: 10px;
	padding: 10px;
	width: 100%;
	background-color:#eee;
	text-align:center;
}

#nav {
	background-color: #fff;
	padding: 0.5em 1em;
	border-bottom:solid thin;
	padding-bottom:20px;
	font-size:small;
}

#login a {
    text-decoration:none;
    color:#000;
}

#footer {
	background-color: #fff;
	padding: 0.5em 1em;
	text-align: center;
	color: #999;
}

#content {
	padding: 2em;
}

h1 {
	margin-top: 0;
}

.admin-section {
	background-image: url("/images/stripes_bg.gif");
	border-top: 1px solid #BECCCC;
	border-bottom: 1px solid #BECCCC;
	padding: 40px;
	position: relative;
	text-align: left;
}

pre.admin-debug {
	background: none repeat scroll 0 0 #000000;
	color: #00FF00;
	font-size: 14px;
	margin: 0;
	padding: 1em;
}

p.error {
	background-color: #f99;
}

p.message {
	background-color: #9f9;
}

#pag_bookends {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

/*pagination*/
#pagination{

}

/* pagination header */
.pag_head{margin:0 0 10px;text-align:center;border: 1px solid #fff;display:none;}

/* pagination active items */
.ds_pag{
    text-decoration: none;
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #0BBDFF;
    margin: 0 2px;
    background:#fff;
}

/* pagination inactive items */
.pag_inactive{
    border: 1px solid #AAA;
    padding: 0.3em 0.5em;
    color: #999;
    margin: 0 2px;
    background:#fff;
}
/* pagination ellipses */
.pag_ellipses{
    text-decoration: none;
    border: 1px solid #fff;
    padding: 0.1em 0.1em;
    color: #999;
    margin: 0;
    background:#fff;
}

select {
    font-size:1.3em;
    margin-bottom:20px;
}

input[type=text] {
    font-size:1.5em;
    margin-bottom:20px;
    border:solid thin;
    width:99%;
    padding:5px;
}

input[type=submit] {
    font-size:1.5em;
    margin-bottom:20px;
    border:solid thin;
}

.admin {
    border-top:solid thin;
    margin-top:5px;
    padding-top:5px;
    padding-bottom:10px;
    background-color:#ededed;
    font-weight:100;
}

#status {
    font-size:1.6em;
    margin-bottom:15px;
}

#again {
    margin-top:20px;
    font-style:italic;
}

q {
    font-style: italic;
}

/* HTMAPL stuff */

.map-error {
    padding:10px;
    font-family:monospace;
    color:#999;
}

#map-wrapper {
	height: 300px;
	width: 100%;
	display:none;
	border: solid thin;
	margin-bottom: 20px;
}

.map {
    height: 300px;
    width: 100%;
}

#displaymap {
    height: 150px;
    margin-bottom: 30px;
    border: 2px solid #000;
}

.marker {
    background-color: #0bbdff;
    border:2px solid #000;
    padding:5px;
    font-size:11px;
    font-weight:700;
    color:#fff;
}

.marker-header {
    background-color: #0bbdff;
    border:2px solid #000;
    padding:5px;
    font-size:11px;
    font-weight:700;
    color:#fff;
    -moz-border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -khtml-border-radius: 10px !important;
    border-radius: 10px !important;
    z-index:100;    
}

.marker-header-todo {
    background-color:#008abe;
    z-index:50;
}

.marker-youarehere {
    z-index: 500 auto;
    opacity:1;
    background-color:#adadad;
}

.marker-youarehere:hover {
    z-index: 500 !important;
    background-color:#fff;
    color:#000;
}

.marker-history-todo {
    background-color:#008abe;
}

.map-tile {
    opacity: 0;
}

.map-tile-loaded {
    -webkit-animation-name: 'fade-in';
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.2s;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.checkin {
    margin-bottom: 25px;
}

.checkin .venue{
    font-weight: 700;
    margin-bottom: 3px;
}

.checkin .venue a{
    color: #000;
    text-decoration:none;
}

.checkin .date {
    font-size: small;
    margin-bottom:8px;
}

.checkin .map {
    border: solid thin;
    margin-top: 5px;
}

#pagination {
    text-align:center;
}

.abook {
    margin-bottom: 10px;
}

.checkins {
    margin: 0px;
    padding: 0px;
}

li{
    line-height: 1.5em;
    list-style-type:none;
    font-size: small;
}

#youwerehere {
    margin-bottom:8px;
}

#iamhere {
    display:none;
    border:solid thin;
    margin-top:15px;
    margin-bottom:25px;
}

#deleteme {
    display:none;
    border:solid thin;
}

.geo {
    line-height: 1.25em;
}

#nearby {
    margin-top:20px;
    font-size:small;
}

#checkin_venue {
    margin-top: 20px;
    display:none;
}

button {
    border: solid thin;
    padding: 5px;
}

.header-right {
    text-align:right;
    margin-top:0px;
    color:#adadad;
}

.header-left {
    text-align:left;
    margin-top:0px;
    margin-bottom:10px;
    color:#333;
}

.header-left a {
    text-decoration: none;
    color:#333;
}

.header-loc {
    color:#adadad;
    font-weight: 100;
    margin-left:10px;
}


.header-loc a {
    text-decoration: none;
    color:#adadad;
}

.sq {
    color: #000;
    text-decoration:none;
    margin-right: 5px;
}

#user_checkin_details ul {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

#venue_stats ul {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

#venue_details ul {
    font-size: small;
    padding: 0px;
    margin: 0px;
}

#that {
    max-width:50%;
}

#that input {
    /* why why why, css? */
    width: 99.5%;
}

#that textarea {
    width: 100%;
    height: 200px;
}

#that input[type=submit] {
    width:auto;
}

#export_links {
    text-align:right;
    font-size:small;
    margin-top:100px;
    padding:10px;
}

.weather {
    color:#ccc;
    margin-top:5px;
    margin-left:5px;
}

.checkins .weather {
    display: inline !important;
}

.nearby {
    display: block;
    font-size:small;
    margin-top:10px;
}

.permalink {
    font-size: small;
    text-align:right;
    color:#ccc;
}

.permalink a {
    color:#ccc;
    text-decoration:none;
}

#youmeanttosay {
    text-decoration:underline;
    font-size:small;
    margin-bottom:15px;
}

#status_update_ornot {
    text-decoration:underline;
}

#status_update_wrapper {
    display:none;
    margin-bottom:15px;
    font-size: small;
}

.nearby_all {
    font-size:11px;
    display:block;
    font-weight:100;
    margin-top:5px;
}

#lists li {
    font-size:1.75em !important;
    color: #adadad;
    font-weight:700;
}

#lists li a {
    text-decoration:none;
    margin-bottom:10px;
}

#lists .nearbyhere {
    font-size:small !important;
    margin-bottom:20px;
    font-weight:100;
}