#login {
    font-size:8pt;
    padding-top:5px;
}

#nav {
}

#status {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 5px;
}

#message {
    font-size: small !important;
}

#map-wrapper {
	height: 100px !important;
	margin-bottom: 10px;
}

.map {
    height: 100px;
}

.marker-history {
    background-color: #0bbdff;
    border:2px solid #000;
    padding:5px;
    font-size:11px;
    font-weight:700;
    color:#fff;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -khtml-border-radius: 20px !important;
    border-radius: 20px !important;
}

.marker-youarehere {
    z-index: 100;
    opacity:1;
    background-color:#adadad !important;
    /* background-color: #ffe48b; */
}

.marker-history-text {
    display:none;
}

.are-hereish {
    display: none;
}

.marker-header-todo {
    background-color:#008abe;
    z-index:50;
}

.marker-history-todo {
    background-color:#008abe !important;
}

select {
	width:100% !important;
	display:block !important;
}

input[type=submit] {
	display:block !important;
}

#again {
    margin-top:50px !important;
    text-align:right !important;
}

#pag_middle {
    display:none;
}

#login .youare {
    display: none;
}

#user_checkin_details {
    max-width:300px;
}

#that {
    max-width: 100% !important;
}

#that textarea {
    height:75px !important;
}

#login .export {
    display:none;
}

#export_links {
    display:none;
}

.weather {
    margin-top:2px;
    margin-bottom:3px;
    margin-left:0px;
    display:block;
}


.header-right {
    display:none;
}

.header-loc {
    font-size:small;
    display: block;
    margin-left:0px;
}

#history .header-loc {
    display:none;
}

.checkins .weather_condition {
    display:none;
}

#displaymap {
    height: 100px;
}

#deferred {
    padding-top: 10px;
}

#status_update {
    display:block;
    margin-top:15px;
}

#status_update_ornot {
    text-decoration:underline;
    text-align:right;
}

#lists {
    margin: 0px;
    padding: 0px;
    margin-left:20px;
}

#lists li {
    font-size:1.25em !important;
}

.header-right-list {
    display: block !important;
    font-size:12pt !important;    
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    text-align:left;
}

.map-list {
    margin-bottom: 0px !important;
}