#map-wrapper {
	height: 100px !important;
	margin-bottom: 10px;
}

.map {
    height: 100px;
}

.marker-history {
    background-color: #0bbdff;
    border:2px solid #000;
    padding:5px;
    font-size:11px;
    font-weight:700;
    color:#fff;
    -moz-border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -khtml-border-radius: 20px !important;
    border-radius: 20px !important;
}

.marker-history-text {
    display:none;
}

select {
	width:100% !important;
	display:block !important;
}

input[type=submit] {
	display:block !important;
}

#again {
    margin-top:50px !important;
    text-align:right !important;
}

.pag_middle {
    display:none;
}

#login .youare {
    display: none;
}

#user_checkin_details {
    max-width:300px;
}

#that {
    max-width: 100% !important;
}

#that textarea {
    height:75px !important;
}

#login .export {
    display:none;
}

#export_links {
    display:none;
}

.weather {
    margin-top:2px;
    margin-bottom:3px;
}

.checkins .weather .weather_condition {
    display: none;
}
